@model IEnumerable<TBoard.Web.Models.VerifyDocuments>  

@{
    ViewBag.Title = "Home Page";
    Layout = "_Layout.cshtml";
}

<br/>

<h1 className="page-header">Verify Documents</h1>


<br/>

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>OrganizationName</th>
        <th>DocumentType</th>
        <th>View</th>
        <th>Verify</th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.OrganizationName</td>
            <td>@d.DocumentType</td>
            <td>
            
                @using (Html.BeginForm("DownloadDocument", "AdminFunction", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" value="@d.DocumentID" name="DocumentID" />
                    <input type="submit" value="View Document" id="View" name="View" class="btn btn-info" />
                }   
           </td>  
            <td>
                @using (Html.BeginForm("VerifyDocument", "AdminFunction", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" value="@d.DocumentID" name="DocumentID" />
                    <input type="submit" value="Verify Document" id="Verify" name="Verify" class="btn btn-info" />
                }                
            </td>
          
        </tr>
    }
</table>

