<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="~/Images/Logo01.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TenderBoard</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="@Url.Content("~/Content/Ndzali/jquery.js")"></script>
    <script src="@Url.Content("~/Content/Ndzali/bootstrap.js")"></script> 
    <link href="@Url.Content("~/Content/Ndzali/style.css")" rel="stylesheet" />      
    <link href="@Url.Content("~/Content/Ndzali/bootstap.css")" rel="stylesheet" />      
    <script src="@Url.Content("~/Content/Ndzali/modernizr.js")"></script>

</head>
<body>

    <div id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        <nav id="menu" class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>                    
                    <a class="navbar-brand page-scroll" href="/">
                        <img src="~/Images/Logo01.png" style="width:120px" />                      
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Admin" class="page-scroll">Register/Login</a></li>
                    </ul>
                </div>

                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        
<div>
    <header id="header">
        <div class="intro">
            <div class="container">
                <div class="row">
                    <div class="intro-text">
                        <h2>Supply Chain Solutions</h2>
                        <p>Efficiently manage your day-to-day purchasing</p>
                        <a href="/contact" class="btn btn-custom btn-lg page-scroll" style="margin-bottom: 90px;" target="_self">Enquire Now</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About Section -->
    <div id="about">
        <div class="container">
            <div class="section-title text-center center">
                <h2>About Us</h2>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md8">
                    <div class="about-text">
                        <p>
                            Tenderboard is a cloud-based procurement platform designed to reduce costs and streamline
                            processes for both the private and corporate sectors. Efficiently manage your day-to-day
                            purchasing and gain control over your spending through our online bidding, analysis, and
                            award functionality. With tools powerful enough for the procurement professional yet simple
                            enough for the casual user, the time has come to efficiently engage suppliers in competitive
                            bidding events to drive down costs and diversify the supply chain. Streamline requisitions,
                            sourcing, purchase orders, invoicing, and payments and routinely save weeks in the procuring
                            lifecycle to complete the procurement of goods and services.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="benefits">
        <div class="container">
            <div class="section-title text-center center">
                <h2>Benefits</h2>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md8">
                    <div class="col-md-4">
                        <div class="benefit">
                            <img src="../Images/Icon1.png" />
                            <h3 class="feature-title">
                                Cost Saving
                            </h3>
                            <p>
                                Our time slashing and easy-to-use
                                system is guaranteed to save you
                                money.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="benefit">
                            <img src="../Images/icon2.png" />
                            <h3 class="feature-title">
                                Efficiency
                            </h3>
                            <p>
                                Improve your purchasing process
                                efficiency with our customizable
                                purchasing functionalities
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="benefit">
                            <img src="../Images/Icon3.png" />
                            <h3 class="feature-title">
                                Tracebility
                            </h3>
                            <p>
                                Track and report all transactions of
                                buyers and suppliers from our
                                detailed reporting tools
                            </p>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="benefit">
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="benefit">
                            <img src="../Images/Icon5.png" />
                            <h3 class="feature-title">
                                Security
                            </h3>
                            <p>
                                All Tenderboard’s solutions are
                                built on the secure Tenderboard
                                platform which meets the highest
                                security standards.
                            </p>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="benefit">
                            <img src="../Images/Icon4.png" />
                            <h3 class="feature-title">
                                Transperency
                            </h3>
                            <p>
                                Increase transparency and prevent
                                overspending in a fair and trusted
                                environment
                            </p>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="benefit">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="features">
        <div class="container">
            <div class="section-title text-center center">
                <h2 style="color:white">Features</h2>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md8">
                    <div class="col-md-4">
                        <div class="benefit">
                            <img src="../Images/Cloudbased.png" />
                            <h3 class="feature-title"></h3>
                            <p>
                                Cloud based technology
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="benefit">
                            <img src="../Images/Customisedsolutions.png" />
                            <h3 class="feature-title"></h3>
                            <p>
                                Customised solutions
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="benefit">
                            <img src="../Images/Userfriendly.png" />
                            <h3 class="feature-title"></h3>
                            <p>
                                User Friendly
                            </p>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="benefit">
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="benefit">
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="benefit">
                            <img src="../Images/Vendorverification.png" />
                            <h3 class="feature-title"></h3>
                            <p>
                                Vendor verification
                            </p>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="benefit">
                            <img src="../Images/Secure.png" />
                            <h3 class="feature-title"></h3>
                            <p>
                                PCI-DSS Level 1 secured
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    
</div>
<script>

    
    $('#data').addClass("hideData");

    $('#contactForm').submit(function () {
        $('#data').removeClass("hideData");
        $('#data').addClass("showData");
        return true;
    });
</script>
        
<style>

    .feature {
        position: relative;
        top: 50%;
        /*transform: translateY(-50%);*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 0 1 auto;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .feature-number {
        flex: 0 0 auto;
        flex-basis: 100%;
        max-width: 100%;
        text-align: center;
    }

    @@media (min-width: 500px) {
        .feature-number {
            flex-basis: 50%;
            max-width: 50%;
        }
    }

    @@media (min-width: 800px) {
        .feature-number {
            flex-basis: 20%;
            max-width: 20%;
        }
    }

    .feature-number-circle {
        border: 5px solid white;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: .2em;
    }

    .feature-number span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
        color: white;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    #data {
        font-size: 18px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 30px;
        box-sizing: border-box;
        display: block;
    }

    .showData {
        opacity: 0.95;
        z-index: 999;
        transition: opacity 0.75s ease-in-out;
        -moz-transition: opacity 0.75s ease-in-out;
        -webkit-transition: opacity 0.75s ease-in-out;
    }

    .hideData {
        opacity: 0;
        z-index: -999;
    }

</style>
    </div>

    

     <div id="footer" style="background-color:#333e48">
        
            <footer class="site-footer" >
                
                <div class="row" style="margin-left:30px; margin-right:0; border-bottom: thin; border-bottom-style: inset;border-color:slategray">

                    <div class="col-md-3">
                        <div class="widget">
                            <h3>Quick Links</h3>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/">About</a></li>
                                <li><a href="/">Features</a></li>
                                <li><a href="/">Login</a></li>
                                <li><a href="Admin#register">Sign Up</a></li>
                            </ul>

                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="widget">
                            <h3 class="widget-title">Follow Us</h3>
                            <div class="social-links">

                                <div class="widget">
                                    <div class="social-links">
                                        <a href="" class="facebook">
                                            <img src="../Images/Faacebook.png" />
                                        </a>
                                        <a href="" class="twitter">
                                            <img src="../Images/Twitter.png" />
                                        </a>
                                        <a href="" class="instagram">
                                            <img src="../Images/Instagram.png" />
                                        </a>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>

                </div>
                
            </footer>
        
    </div>
</body>
</html>
<style>
    .input-group-addon {
        width: 0%;
    }
</style>