<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/Content/bootstrap/metismenu/metismenu.css")"  rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap/sb-admin-2.css")"  rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Scripts/select2/css/select2.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Scripts/allenfang/css/react-bootstrap-table.css")" rel="stylesheet" /> 
    <link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" />     
    <link href="@Url.Content("~/Content/progress-bar.css")" rel="stylesheet" />  
    <link href="@Url.Content("~/Content/trip.min.css")" rel="stylesheet" />  
    <link href="@Url.Content("~/Content/pnotify.custom.min.css")" rel="stylesheet" />  
    <link href="@Url.Content("~/Content/Ndzali/registration.css")" rel="stylesheet" />  
    <link href="@Url.Content("~/Content/Ndzali/css.css")" rel="stylesheet" />  
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.6.0/src/loadingoverlay.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.6.0/extras/loadingoverlay_progress/loadingoverlay_progress.min.js"></script>
    
    <link href="@Url.Content("~/Scripts/bootstap/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")" rel="stylesheet" type="text/css">
    <script src="@Url.Content("~/Scripts/routie.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/metisMenu.min.js")"></script>
    <script src="@Url.Content("~/Scripts/sb-admin-2.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstap/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstap/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstap/bower_components/datatables-responsive/js/dataTables.responsive.js")"></script>
    <script src="@Url.Content("~/Scripts/select2/js/select2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/allenfang/dist/react-bootstrap-table.js")"></script>
    <script src="@Url.Content("~/Scripts/jsrasign/jwt-decode.min.js")"></script>
    <script src="@Url.Content("~/Scripts/reactLogic/tboard.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>    
    <script src="@Url.Content("~/Scripts/Sortable.js")"></script>   
    <script src="@Url.Content("~/Scripts/jRate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/countdown.min.js")"></script>
    <script src="@Url.Content("~/Scripts/react-progress-bar-plus.js")"></script>    
    <script src="@Url.Content("~/Scripts/trip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/pnotify.custom.min.js")"></script>    
   
   
    <script>
        var ReactBsTable = window.BootstrapTable;
        var ProgressBar = window.ReactProgressBarPlus;        
    </script>

</head>
<body>
    @RenderBody()
</body>
</html>
